/* .dark-mode {
  --color-grey100: #1b1b1b;
  --color-grey200: #303030;
  --color-grey300: #474747;
  --color-grey400: #5e5e5e;
  --color-grey500: #777777;
  --color-grey600: #919191;
  --color-grey700: #ababab;
  --color-grey800: #c6c6c6;
  --color-grey900: #e2e2e2;

  --color-purple100: #221921;
  --color-purple200: #3b2b3b;
  --color-purple300: #544153;
  --color-purple400: #6a5969;
  --color-purple500: #817380;
  --color-purple600: #aba2ab;
  --color-purple700: #b1a9b1;
  --color-purple800: #cac5ca;
  --color-purple900: #e4e1e4;

  --color-violet100: #171b26;
  --color-violet200: #293042;
  --color-violet300: #3d4661;
  --color-violet400: #555e7a;
  --color-violet500: #70768e;
  --color-violet600: #8b90a3;
  --color-violet700: #a8abb9;
  --color-violet800: #c4c6d0;
  --color-violet900: #e1e2e7;

  --color-green100: #151e11;
  --color-green200: #24351f;
  --color-green300: #354d2d;
  --color-green400: #47663c;
  --color-green500: #5a814b;
  --color-green600: #6d9d5b;
  --color-green700: #81ba6c;
  --color-green800: #95d77d;
  --color-green900: #c0f0ae;
} */
