/* .light-mode {
  --color-grey100: #e2e2e2;
  --color-grey200: #c6c6c6;
  --color-grey300: #ababab;
  --color-grey400: #919191;
  --color-grey500: #777777;
  --color-grey600: #5e5e5e;
  --color-grey700: #474747;
  --color-grey800: #303030;
  --color-grey900: #1b1b1b;

  --color-purple100: #e4e1e4;
  --color-purple200: #cac5ca;
  --color-purple300: #b1a9b1;
  --color-purple400: #998d98;
  --color-purple500: #817380;
  --color-purple600: #6a5969;
  --color-purple700: #544153;
  --color-purple800: #3b2b3b;
  --color-purple900: #221921;

  --color-violet100: #e1e2e7;
  --color-violet200: #c4c6d0;
  --color-violet300: #a8abb9;
  --color-violet400: #8b90a3;
  --color-violet500: #70768e;
  --color-violet600: #555e7a;
  --color-violet700: #3d4661;
  --color-violet800: #293042;
  --color-violet900: #171b26;

  --color-green100: #c0f0ae;
  --color-green200: #95d77d;
  --color-green300: #81ba6c;
  --color-green400: #6d9d5b;
  --color-green500: #5a814b;
  --color-green600: #47663c;
  --color-green700: #354d2d;
  --color-green800: #24351f;
  --color-green900: #151e11;
} */
